<div id="stats">
  <app-yard *ngIf="!showErr"></app-yard>
  <hr>
  <div *ngIf="!showErr" id="blocks">
    <div *ngFor="let stat of stats" class="block">
      Block ID: {{stat.blockId}}<br>
      Capacity: {{stat.capacity}}% free<br>
      Average Age: {{stat.averageAge}} days<br>
      Oldest Container ID: {{stat.oldestContainerId}}<br>
      Newest Container ID: {{stat.newestContainerId}}<br>
      Empty Positions: {{stat.emptyPositions}}<br>
      Empty Bays: {{stat.emptyBays}}<br>
      Empty Stacks: {{stat.emptyStacks}}
    </div>
  </div>
  <p *ngIf="showErr" id="error-msg">
    {{errorMsg}}
  </p>
</div>
