#stats {
  hr {
    border: none;
    height: 1px;
    background-color: darken(#d2d2d2, 5%);
  }

  #blocks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
  }

  #error-msg {
    color: red;
    font-size: 20px;
    padding: 30px;
  }
}
